body {
    padding-top: 5rem;
    margin: 0px;
    font-family: Helvetica;
}

.profile-container{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

h1{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

div.profile-container, div.profile-header, div.profile-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-left: 350px;
}

div.profile-header{
    background-color: lavender;
    padding: 100px;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
    height: 350px;
    width: 100%;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
    padding: 15px;
}

div.profile-stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img{
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px -1px rgba(227, 169, 218, 0.1), 0 4px 6px -1px lavender;
}

p{
    padding: 5px;
    text-align:start;
    margin: 0px;
}

p:hover{
    text-decoration: wavy;
    color: rgb(134, 7, 134);
    cursor: pointer;
}

.btn{
    background-color: rgb(241, 215, 241);
    border: 1px solid rgb(248, 191, 248);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 10px 30px; 
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

div.profile-content{
    height: 250px;
    margin: 0px;
    border-radius: 0px 0px 20px 20px;
}

div.profile-container{
    width: 40%;
    overflow: hidden;
}

.btn:hover{
    background-color: rgb(248, 191, 248);
    border: 1px solid rgb(241, 215, 241);
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

h2{
    font-weight: bold;
}
